@import "tailwindcss";

@theme {
  --font-sans: var(--font-montserrat), sans-serif;
  --font-serif: var(--font-cormorant), serif;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

/* Configuration globale du projet Dyayly */
:root {
  --background: #FDFBF7; /* Fond beige chaud */
  --foreground: #1c1917; /* Texte stone-900 */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1c1917;
    --foreground: #FDFBF7;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}


/* Optimisation du scroll pour Framer Motion */
html {
  scroll-behavior: smooth;
}

@media (min-width: 768px) {
  html, body, a, button, [role="button"], input, textarea, select {
    cursor: none !important;
  }
}
